body, html {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

body {
	background: url('honk.png') top left repeat;
}

#honk {
	display: block;
	position: fixed;
}

#audio {
	display: none;
}

@media (max-device-width: 770px) {
	body {
		background-size: 61.8vw;
	}
	#honk {
		bottom: 80px;
		margin-left: -20px;
		left: 50%;
	}
}
